body {
	color: rgb(255,255,255);
	background-color: #364154;
	font-family: 'PT Mono', monospace;
	font-size: 22px;
}

div{
	margin-top: 20px;
	margin-left: 20px;
}

p{
	padding: 10px;
}

a{
	font-size: 16px;
	padding: 8px;
	display: block;
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;

}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #ffd754;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #ffd754;
    background-color: transparent;
    text-decoration: none;
}