body {
	font-family: Caslon, serif;
	font-size: 24pt;
	color: #ffffff;
	background-color: #565656;
}

p{
	width: 800px;

}

h1{
	font-family: futura, san-serif;
}

h3{
	font-family: futura, san-serif;
}

strong{
	font-family: futura, san-serif;
}

.toc{
	width: 300px;
	right: 10px;
	top: 65px;
	position: absolute;
	font-size: 12pt;
}