body {
	font-family: gill sans, san-serif;
	font-size: 12pt;
	background-color: #547a49;
	color: #ffffff;
}

p{
	width: 800px;

}

.toc{
	width: 300px;
	right: 10px;
	top: 65px;
	position: absolute;
}