body {
	font-family: baskerville, serif;
	font-size: 14pt;
	color: #ffffff;
	background-color: #603535;
}

p{
	width: 800px;

}

h1{
	font-family: baskerville, serif;
}

h3{
	font-family: baskerville, serif;
}

strong{
	font-family: baskerville, serif;
}

.toc{
	width: 300px;
	right: 10px;
	top: 65px;
	position: absolute;
}