/* Your styles go here */
.background{
	width: 30vw;
	height: 200vw;
	background-color: #ffffff;
	top: 0vw;
	left: 0vw;
	position: absolute;
}

.loading{
	height: 120px;
	background-color: #0543ff;
	color: #ffffff;
	position: fixed;
	top: 20vw;
	font-size: 100px;
	text-align: center; 
	font-family: courier new, monospace;
}