.picture{
	height: 400px;
	display: inline;
	padding-left: 80px;
}

.frame{
 	width: 300%;
 	position: absolute;
 	margin-top: 150px;
 	padding-left: 50px;


 }

/*

a:hover {
    color: #555555;
    background-color: transparent;
    text-decoration: none;
}

.picture:hover{
	height: 300px;
	height: auto;
	-webkit-transition: 0.5s ease-out;
}

.row{
	display: grid;
	flex-wrap: wrap;
	padding: 5px;
}

.column{
	flex: 50%;
	padding: 5px;
}
*/