body {

	color: rgb(255,255,255);
	background-color: rgba(131,151,136,0.8);
	font-family: avenir, san-serif;
	font-size: 60px
}

p{
	color: rgb(255,255,255);
	font-family: avenir, san-serif; 
	font-size: 20px;
	display: inline;
	padding: 10px;
}

hr{
	height: 1px;
	background-color: #ffffff;
    color: #ffffff;
    width: 50%;  
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;

}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #555555;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #555555;
    background-color: transparent;
    text-decoration: none;
}

span{
	font-size: 20px;
	padding: 20px;
}

.link{
	font-family: avenir, san-serif;
	font-size: 35px;
}
.links p {
	visibility: hidden;

}
.links:hover p {
	visibility: visible;

}

.name{
	font-family: avenir, san-serif;
	font-size: 50px;
	margin-top: 22%;
	
}

.header{
	font-family: avenir, san-serif;
	font-size: 40px;
	margin-top: 22%;
	
}

.links{
	font-family: avenir, san-serif;
	font-size: 20px;
	top: 60%;
	
}
.Hi{
	font-family: avenir,san-serif;
	font-size: 35px
}

.Shanghai{
	width: 250px;
	opacity: 0.5;
}
.Shanghai:hover{
	width: 350px;
	opacity: 1;
	-webkit-transition: 0.3s ease-out;
}

.Hawaii{
	width: 250px;
	opacity: 0.5;
}
.Hawaii:hover{
	width: 350px;
	opacity: 1;
	-webkit-transition: 0.3s ease-out;
}

.NewYork {
	width: 250px;
	opacity: 0.5;
}
.NewYork:hover{
	width: 350px;
	opacity: 1;
	-webkit-transition: 0.3s ease-out;
}
.acai{
	width: 150px;
}
.ahi{
	width: 150px;
}

.chingu{
	width: 150px;
}

.littlecollins{
	width: 150px;
}

.gyukaku{
	width: 150px;
}
.shokudo{
	width: 150px;
}
.fengcha{
	width: 150px;
}


















