body{
	background-color: #000000;
	overflow: hidden;
}

.title{
	font-family: didot, serif;
	font-size: 50px;
	color: #ffffff;
	width: 500px;
	position: absolute;
    left: 40vw;
    top: 23vw;
    text-decoration: none;
}

.title:hover {
	color: #dc0202;
	transition: .8s;
}

img{
    width: 100vw;
    top: 0vw;
	left: 0px;
	position: absolute;

}

video{
	position: absolute;
	left: 30vw;
	top: 120vw;
}
