* {
		cursor: url(assets/blackcircle.png), auto;
		/*cursor: pointer;*/
}

@font-face {
  font-family: lab;
  src: url(assets/LabMono-Regular.otf);
}

body{
	font-family: 'lab', monospace;
	font-size: 2.2vw;
	font-weight: 700;
	background-color: #ffeacd;
	overflow-x: hidden;
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;

}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
	background-color: #000000;
	color: #ffeacd;
    text-decoration: none;
    transition: all 0.2s;
}

.description{
	width: 30vw;
	position: absolute;
	left: 2vw;
	top: 1vw;
	line-height: 2.8vw;

}

img{
	width: 16vw;
	right: 30vw;
	top: 3vw;
	position: absolute;
}
.links{
	width: 35vw;
	bottom: 1vw;
	position: absolute;
	left: 5vw;
	top: 20vw;
	font-size: 1.5vw;
}

.back{
	font-size: 1vw;
	position: absolute;
}

.toc{
	width: 20vw;
	bottom: 1vw;
	position: absolute;
	left: 2vw;
	font-size: 1.5vw;
}

.web1{
	display: none;
	top: 20vw;
	position: absolute;
}

.web2{
	display: none;
}

.washington:hover .web1{
	display: block;
 	z-index: 1;
 	visibility: visible;
}






