* {
		cursor: pointer;
		/*cursor: pointer;*/
}


@font-face {
  font-family: america;
  src: url(assets/GT-America-Mono-Trial-Medium.otf);
}

span{
	color: #769ae0;
}

body{
	font-size: 3vw;
	font-family: 'Overpass Mono', monospace;
	font-weight: 700;
}


.story{
	width: 50vw;
	left: 3vw;
	position: absolute;
}

.names{
    position: fixed;
    right: 3vw;
    top: 4vw;
    width: 16vw;
    font-size: 2vw;
    line-height: 2.5vw;
}

.button{
    font-size: 1.5vw;
    line-height: 2vw;
}

.button:hover{
	color: #769ae0;
}

