body{
	font-family: helvetica neue, sans-serif;
	font-size: 5vw;
	color: black;
}



.videos{
	left: 32vw;
    top: 8vw;
	position: fixed;
}

.link{
    position: fixed;
    bottom: 0vw;
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;

}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    background-color: transparent;
    text-decoration: underline;
}
